[2015-10-11 09:06] antonroman opened #1 "To decide persistent storage API to be used in the Browser Runtime"
We must define which **persitent storage technology will be used in the Browser Runtime**. It must meet two requirements at least:
1.  the stored data must be persistent to browser and device restarts.
2.  it must be possible to use it in Node.js, to make the code for both Browser and Node.js runtime as much similar and compatible as possible.

There are two standard options for persistent storage

[2015-10-16 16:59] vitormsilva opened #2 "How to include runtime-core code"
Problem: how to include on runtime-browser the runtime-core code, staying each one these in different repositories?

Suggestion: using the github like a "package manager" and some of the features of npm and jspm, we only need run the command
`jspm install runtime-core=github:reTHINK-project/dev-runtime-core.git.` for jspm;
or
`npm install git+ssh://git@github.com/reTHINK-project/dev-runtime-core.g

[2015-10-26 15:57] #2 closed, assigned to nobody

[2015-10-28 14:35] antonroman opened #3 "Error when executing jspm install to get dev-runtime-core"
Hi @vitormsilva, when we execute the jspm command as included in the readme file it seems it can not get the dev-core-runtime (it doesn't find it):

[code]

We also tried:

[code]

Are we doing anything incorrectly? Is this command working to you?
Thanks in advance!

[2015-10-29 14:22] antonroman opened #4 "initial call to explain the current code"
@pchainho @vitormsilva as agreed during the call this morning we are interested in scheduling a call to review the code and ask some doubts about what has been done and the parts which need to be done to get the runtime 0.1 ready.

Tomorrow morning would be fine for us, please, let us know if it would possible for you and if yes, what time you prefer.

To interact with the rest of the team by IM,

[2015-11-10 15:14] #1 closed, assigned to nobody

[2015-11-10 16:32] pchainho opened #5 "Protostub Sandbox Implementation with Web Workers"
Extension of [Core Sandbox Interface](https://github.com/reTHINK-project/dev-runtime-core/blob/master/src/sandbox/Sandbox.js) for Web Workers.

Initial version at:
https://github.com/reTHINK-project/dev-runtime-browser/blob/master/src/sandbox/SandboxBrowser.js

[2015-11-10 16:57] pchainho opened #6 "rethink.js iframe"
[rethink.js iframe](https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/runtime/implementation/browser-runtime.md) includes the Runtime Core componentes and Web Workers.

[2015-11-10 17:03] pchainho opened #7 "RuntimeUAStub.js"
Stub to be called by Applications in order to reach the Core Components that are inside rethink.js

It should implement the following functions (proposal):

Object requireHyperty( URL )
requireProtostub( URL )

[2015-11-11 19:10] #4 closed, assigned to nobody

[2015-11-12 08:25] antonroman opened #8 "HypertyAPIStub implementation"
This element will be used from the web application to establish a local WebRTC peer connection with the ReTHINK WebRTC element in the ReTHINK iframe.

[2015-11-17 13:14] shumy opened #9 "Sandbox common code available"
There are **Sandbox** and **SandboxRegistry** classes in the **dev-runtime-core** that can help the implementations of a specific sandbox.
Sandbox - extends the MiniBus, represent the API side of the sandbox that is available to the runtime.
SandboxRegistry - it's one of the pieces that will be used inside the sandbox. The other is the MiniBus.

Some examples how this can work are in the dev-runti

[2015-12-11 09:21] #3 closed, assigned to nobody

[2015-12-11 10:06] #5 closed, assigned to antonroman

[2015-12-11 10:26] dvilchez opened #10 "Create ContextCore"
Runtime context:
it should manage communication with external frontier
it should Initialize RuntimeUA

[2015-12-11 10:55] dvilchez opened #11 "SandboxContext mistakes"
1. In the SandboxBrowserContext.js, it should be: self._miniBus._onMessage(event.data);, it will avoid some message cycles.
2. I think in SandboxRegistry(miniBus); should it be SandboxRegistry(self._miniBus); ?

[2015-12-11 10:56] #11 closed, assigned to nobody

[2015-12-11 11:13] dvilchez opened #12 "Implement Create App Sandbox factory method"

[2015-12-11 11:20] dvilchez opened #13 "Implement RuntimeUAStub"
It should implement the following functions (proposal):

Object requireHyperty( URL )
requireProtostub( URL )

[2015-12-11 12:10] dvilchez opened #14 "eval(sourceCode) exports a function"
More details in #9 comments

[2015-12-11 12:13] dvilchez opened #15 "SandboxContext unit test"
try test Sandbox Context inside a worker. More details in #9 comments

[2015-12-11 12:15] #9 closed, assigned to antonroman

[2015-12-14 12:28] #15 closed, assigned to dvilchez

[2015-12-14 15:59] dvilchez opened #16 "web worker error handling"

[2015-12-15 09:08] dvilchez opened #17 "RuntimeUA inside a web worker instead iframe"
@shumy as webrtc is going to be hosted on app context and runtimeua doesn't need interacting with the DOM, Is there any reason to use an iframe instead of a web worker?

[2015-12-23 18:22] vitormsilva opened #18 "Import only the module we need"
Hi @dvilchez, I think found a solution to the problem of import all runtimeUA to inside the Worker (web worker);

I created an branch [dev-0.2](https://github.com/reTHINK-project/dev-runtime-browser/tree/dev-0.2) with the possible solution.

If you do:

[code]

Only the code referent to the specific module, will be imported;

This probably should and go be optimized, because the /dist/ on the path

[2015-12-30 12:11] #10 closed, assigned to dvilchez

[2015-12-30 12:11] #12 closed, assigned to dvilchez

[2015-12-30 12:12] #13 closed, assigned to dvilchez

[2015-12-30 12:12] #14 closed, assigned to dvilchez

[2015-12-30 12:13] #18 closed, assigned to dvilchez

[2015-12-30 12:13] #17 closed, assigned to nobody

[2015-12-30 12:13] #7 closed, assigned to antonroman

[2015-12-30 12:13] #6 closed, assigned to aecostas

[2015-12-30 12:14] dvilchez opened #19 "return required hyperty to app"

[2015-12-30 12:15] dvilchez opened #20 "implement chat example"

[2015-12-30 17:50] #19 closed, assigned to dvilchez

[2016-01-05 15:54] #20 closed, assigned to dvilchez

[2016-01-05 16:26] dvilchez opened #21 "Adapt implementation to new version of runtime core"

[2016-01-05 17:16] #21 closed, assigned to dvilchez

[2016-02-03 16:19] dvilchez opened #22 "Download from runtime catalog distribution files"

[2016-02-03 16:20] dvilchez opened #23 "Integrate with core dev 0.3"

[2016-02-04 13:21] pchainho opened #24 "Non-WebRTC Hyperties in Web Worker"
Currently, Hyperties are deployed in the App Sandbox, which can be not much secured.

In order to support Hyperties deployment in isolated Web Workers, it is required that Apps invocation in Hyperty APIs has to be carried with RPC like transactions through the Minibus / MsgBUS postMessage() API.

The RPC stubs to be used on App side should be provided by the Hyperty developer.

One solution is to

[2016-02-11 12:13] antonroman opened #25 "add explanation of distributable files in readme.md"

[2016-02-15 10:23] #25 closed, assigned to dvilchez

[2016-02-18 09:58] antonroman opened #26 "test new hyperty examples in dev-service-framework"
The examples at https://github.com/reTHINK-project/dev-service-framework/tree/develop/example can now be tested in the Browser Runtime.

[2016-02-26 10:06] #23 closed, assigned to dvilchez

[2016-02-26 10:20] dvilchez opened #27 "integrate runtime loader"

[2016-02-26 10:21] #8 closed, assigned to nobody

[2016-03-01 17:27] pchainho opened #28 "new HypertyGui iFrame sandbox"
<img width="1089" alt="screen-shot-2016-03-01-17-48-47-288jmsa9su" src="https://cloud.githubusercontent.com/assets/3893553/13435645/3271733a-dfd3-11e5-89ac-3fec5b59dce3.png">

In order to support WebRTC Hyperties and Hyperties with GUIs, there is a new type of Hyperty Sandbox called "HypertyGuiSandbox" to be implemented with an iFrame.

[2016-03-08 21:55] antonroman opened #29 "Add licensing headers"
The code is going to be released soon, so we have to include in the source code the appropriate licensing headers as mentioned below (it is not done for every module):

/**
*Copyright [yyyy] [name of copyright owner]
*
- Licensed under the Apache License, Version 2.0 (the "License");
- you may not use this file except in compliance with the License.
- You may obtain a copy of the License at
  *
-

[2016-03-15 14:17] #29 closed, assigned to nobody

[2016-03-15 14:17] #27 closed, assigned to dvilchez

[2016-03-15 14:18] #26 closed, assigned to nobody

[2016-03-15 14:19] dvilchez opened #30 "Wait until runtime is installed"

[2016-03-15 14:21] dvilchez opened #31 "Automatize distribution files generation"

[2016-03-15 14:23] dvilchez opened #32 "Include some test to detect changes on dependencies"

[2016-03-31 08:47] #24 closed, assigned to antonroman

[2016-04-04 13:58] #22 closed, assigned to dvilchez

[2016-04-04 14:23] dvilchez opened #33 "Implement GetDevice Capabilities"

[2016-04-04 14:23] dvilchez opened #34 "Replace SandboxFactory with RuntimeFactory"

[2016-04-07 10:30] #31 closed, assigned to dvilchez

[2016-04-07 10:37] dvilchez opened #35 "Load runtime from RuntimeCatalog"

[2016-04-07 15:10] #35 closed, assigned to nobody

[2016-04-07 15:10] #34 closed, assigned to dvilchez

[2016-04-08 10:47] #30 closed, assigned to dvilchez

[2016-04-13 08:59] vitormsilva opened #36 "Runtime Instalation Process"
Hi @dvilchez,

I have tested the browser runtime, and it's working well, but I found a problem;

You have this const to load runtimeURL
[code]

But the request need to be to the catalogue, by the way, you should put in your runtimeURL const, something like:
[code]

Another question is, the runtimeUA couldn't call runtimeUA, could be MyRuntime, or other, then that runtimeURL const should be dynamic

[2016-04-13 18:43] pchainho opened #37 "Policy Engine Admin GUI"
moved from https://github.com/reTHINK-project/dev-runtime-core/issues/64

As discussed [here](https://github.com/reTHINK-project/core-framework/issues/160)

[2016-04-13 18:45] pchainho opened #38 "Graph Connector Admin GUI"
As discussed [here](https://github.com/reTHINK-project/core-framework/issues/160)

[2016-04-13 18:46] pchainho opened #39 "Identity Module Admin GUI"
As discussed [here](https://github.com/reTHINK-project/core-framework/issues/160)

[2016-04-14 11:00] vitormsilva commented on #36
@dvilchez,

Other improve you need to do on runtime-browser, is related with the `catalogue.getRuntimeDescriptorURL()` in file [core.js](https://github.com/reTHINK-project/dev-runtime-browser/blob/master/src/core.js#L46)

Explaining:
When i did the the runtimeLoader, i was assuming the runtime descriptor bring the sourcePackage included on it self, but, seems not.

By the way, you need to add some

[2016-04-15 06:33] dvilchez commented on #36
@vitormsilva regarding pass the runtime url in the install call, could you give me some valid examples? I need some way to distinguis between a domain and a valid runtime-url.

[2016-04-15 08:22] pchainho commented on #36
Domain example: "hybroker.rethink.ptinovacao.pt"

Full Runtime Catalogue URL example: "https://catalogue.hybroker.rethink.ptinovacao.pt/.well-known/runtime/myAwesomeRuntime"

[2016-04-15 08:25] dvilchez commented on #36
@pchainho then we can use the protocol presence or absence to determine if it is a domain or a runtime URL, are you agree?

[2016-04-15 08:27] pchainho commented on #36
I guess that's a valid criteria, yes, to check whether it is an URL by looking for the URL scheme in the string

[2016-04-15 08:36] emmelmann-fokus commented on #36
Just keep in mind the extensibility:

We either have to check for the presence of any supported protocol (http, https, maybe more in the future), or we check for the following regular expression to match:  *//:*

I do not know what is easier to implement vs. easier to maintain.

[2016-04-15 13:30] dvilchez commented on #36
I pushed my changes to a new branch but I found a problem. If I do the installation, passing it my runtime-url (http://catalogue.rethink-app.quobis.com/.well-known/runtime/RuntimeUA), the domain  will be resolved to catalogue.rethink-app.quobis.com and application will fail because it won't be able to find any static resources there.

[2016-04-19 17:29] pchainho commented on #36
You should take the info about the environment used as proposed [here](https://github.com/reTHINK-project/dev-runtime-core/issues/75#issuecomment-212022435) and change the Catalogue URL in case it is a "development" environment, since the Local Catalogue use different URLs: `'https://' + domain + '/resources/descriptores/Runtimes.json'`

[2016-04-20 09:13] dvilchez commented on #36
Just to clarify @pchainho,

In dev mode, catalogue url -> 'https://' + domain + '/resources/descriptores/Runtimes.json'
In prod mode, catalogue url -> 'https://catalog.' + domain + '/resources/descriptores/Runtimes.json'

[2016-04-20 10:42] pchainho commented on #36
You just have to change the catalogue URL in dev mode to: `'https://' + domain + '/resources/descriptores/Runtimes.json'`

No change of the catalogue URL is required in prod mode

[2016-04-20 14:15] emmelmann-fokus commented on #36
I don't know if I need to object here.  But I definitely cannot (yet) agree:

These are constrains that have not been agreed on, not even discussed so far as it implies that the catalogue is always reachable in a production environment by contacting the host "catalog.DOMOAIN".

The implementation should not have that as a static code.

If we keep this constrain, we might run into serious implicati

[2016-04-20 14:57] pchainho commented on #36
@emmelmann-fokus we have agreed a long time on this and you were the first one proposing this URL for the catalogue:

https://github.com/reTHINK-project/architecture/issues/63#issuecomment-152235722

[2016-04-21 06:55] #36 closed

[2016-04-25 15:13] Endebert opened #40 "How to get it running?"
Hi guys,

I'm trying to get the demo working (in the end I want my own hyperty to be loaded), but it seems to fail on start and I don't know why.

Here is the log, if anyone can help, it would be greatly appreciated: [localhost-1461597484886.txt](https://github.com/reTHINK-project/dev-runtime-browser/files/234846/localhost-1461597484886.txt)

I think this is related to this issue: https://github.c

[2016-04-27 08:28] dvilchez commented on #40
@Endebert the problem is the connection with the msg node:
WebSocket connection to 'wss://msg-node.localhost:9090/ws' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED
loginWithRP
Uncaught (in promise) Response timeout!

I guess connection has been refused because the certificate. Try to load https://msg-node.localhost:9090 in your browser and accept the certificate.

[2016-04-27 08:54] Endebert commented on #40
Loading https://msg-node.localhost:9090/ also returns `ERR_CONNECTION_REFUSED`, but it doesn't seem to be related to certificates.

[2016-04-27 08:55] dvilchez commented on #40
Do you have a local msg-node running?

[2016-04-27 08:56] Endebert commented on #40
No, do I need to have one running?

[2016-04-27 08:59] dvilchez commented on #40
Yes, https://github.com/reTHINK-project/dev-runtime-browser/blob/master/startup_guide.md

[2016-04-27 09:19] Endebert commented on #40
Unfortunately, I can't get far with the startup guide either.

I created a small website in dev-runtime-browser/ren_test:
[code]
I run it using `http-server --cors -S -p 443 -C rethink-certificate.cert -K rethink-certificate.key ren_test/`

If I run it like this, it fails because `window.rethink.default` is undefined. After changing it to just `let runtimeLoader = window.rethink.install(domain).th

[2016-04-27 10:18] dvilchez commented on #40
It looks like something related with SOP. In the meanwhile, Could you try with the second scenario described in the guide?

[2016-04-27 11:09] Endebert commented on #40
I can't try the second scenario because I don't have access to the dev-registry-browser repository.

I tried getting the third scenario running but that needs the resources from dev-registry-browser, too.

[2016-04-27 11:21] dvilchez commented on #40
Sorry @Endebert, it was an error on the documentation, the right repo is dev-runtime-browser. I fixed it yet.

[2016-04-27 11:32] Endebert commented on #40
Ok, I'm not sure if I'm doing this right but i copied the folder /example/resources to the root folder and tried it again. I'm still getting errors, it seems the msg node doesn't accept the connection: [localhost-1461756658482.txt](https://github.com/reTHINK-project/dev-runtime-browser/files/238535/localhost-1461756658482.txt)

[2016-04-27 12:27] Endebert commented on #40
Since the provided example seems to work (kind of), I'm trying to get my little website running, but it doesn't work still. This is the current state of it:
[code]

I copied over the folders ".well-known"  and "resources" to the website folder. But when accessing the website, the console only contains: `Uncaught TypeError: window.rethink.install is not a function`

So it loaded rethink.js, but som

[2016-04-28 05:48] dvilchez commented on #40
Sorry, another mismatch on the documentation:

rethink.default.install({"domain": domain, development: true})

if you set development to true RuntimeCatalogue-Local will be used

[2016-04-29 13:25] Endebert commented on #40
Thanks, @dvilchez, that seemed to have solved it.

But it looks like I'm unable to deploy a hyperty. I created a hyperty in /resources/descriptor/Hyperties.json but when I try to deploy it with runtime.requireHyperty() I get the error with msg.node again.

Here is the log: [localhost-1461935992378.txt](https://github.com/reTHINK-project/dev-runtime-browser/files/242507/localhost-1461935992378.txt)

[2016-04-29 13:31] dvilchez commented on #40
Sorry @Endebert, I can't answer that question, as far as I know a hyperty is associated with an identity and get this identity is mandatory.

[2016-04-29 13:36] Endebert commented on #40
OK but what about the problem with the msg node? Is there any way I can configure the runtime to use an external msg node or something? It does work with a local msg node, but the first scenario in the startup guide never mentions the need of a local msg node

[2016-04-29 13:39] dvilchez commented on #40
Yes, yo have to change it in protostub descriptor

https://github.com/reTHINK-project/dev-runtime-browser/blob/master/example/resources/descriptors/ProtoStubs.json#L19

[2016-04-29 14:22] Endebert commented on #40
I changed the url to wss://msg-node.hybroker.rethink.ptinovacao.pt/ws, and there seems to be no error, but the hyperty is not being executed: [localhost-1461939637038.txt](https://github.com/reTHINK-project/dev-runtime-browser/files/242618/localhost-1461939637038.txt)

As you can see in the log, I want to execute: `console.log('it worked!'); alert('it worked!');`

[2016-04-29 14:33] dvilchez commented on #40
Please check if Protostub descriptor loaded by your browser has the right URL, maybe it is cached

[2016-04-29 14:38] Endebert commented on #40
I double-checked, the protostub descriptor has the right URL

[2016-04-29 14:40] dvilchez commented on #40
Could you unfold this on your console log?

    2. return the ProtoStub descriptor: t {_guid: 1, _type: "protostub", _version: "0.1", _objectName: "VertxProtoStub", _description: "Description of VertxProtoStub"…}

[2016-04-29 14:46] Endebert commented on #40
That's what I did to double-check, but here is the log: [localhost-1461941112590.txt](https://github.com/reTHINK-project/dev-runtime-browser/files/242649/localhost-1461941112590.txt)

[2016-04-29 15:18] dvilchez commented on #40
@Endebert it looks like the last changes in runtime and runtime-browser made invalid the process described on startup guide. Let me check again every scenario and fix the guide.

[2016-05-02 13:37] aoncorici commented on #40
seems the right way to create a Hyperty is to use the https://github.com/reTHINK-project/dev-hyperty-toolkit repository.

Still to be discussed tomorrow what is the relation to the dev-runtime-browser to make it running for real.

[2016-05-02 13:53] dvilchez commented on #40
Yes, the right way to create Hyperties is described on  https://github.com/reTHINK-project/dev-hyperty-toolkit repo.

BTW I updated startup guide and changed the first example to match with scenario one, the second example and hello example match with scenario two.

[2016-05-04 15:36] dvilchez opened #41 "Do npm scripts cross platform"

[2016-05-04 16:05] #41 closed

[2016-05-04 16:10] dvilchez opened #42 "Change references to distribution files"

[2016-05-05 05:20] dvilchez opened #43 "Update to last version of identity module"

[2016-05-06 16:08] fbeierle opened #44 "TyperError: Cannot read property 'configuration' of undefined"
I created a very simple example that posts a message to the iframe to call a method on the GraphConnector (https://github.com/reTHINK-project/dev-runtime-browser/tree/develop-GraphConnector).
I get this error:

![demo4](https://cloud.githubusercontent.com/assets/10813769/15078594/3b4829d0-13b4-11e6-8b81-592c9e95da41.png)

The example in dev-runtime-core (https://github.com/reTHINK-project/dev-runt

[2016-05-10 10:21] #43 closed

[2016-05-10 10:21] #42 closed

[2016-05-12 08:34] fbeierle commented on #44
After merging the latest changes from master, I get this error and I am unsure where it comes from:

![demo5](https://cloud.githubusercontent.com/assets/10813769/15208600/ca9aac3a-182c-11e6-9243-f52974027adc.png)

@dvilchez : Can you help me here?

[2016-05-12 09:10] dvilchez commented on #44
@fbeierle closed with 6708463e0423f2aa83f5bf569e53f82555b3c35f

[2016-05-12 09:10] #44 closed

[2016-05-18 14:11] dvilchez opened #45 "Bug on hyperties cache"

[2016-05-18 14:11] #45 closed

[2016-05-19 10:40] vitormsilva opened #46 "production vs development"
Hi @dvilchez,

in the runtime-browser the choose between development and production isn't distinguish
[code]
But the runtime-browser always transform the request to `hyperty-catalogue://catalogue.hybroker.rethink.ptinovacao.pt/resources/descriptors/Runtimes.json` and shouldn't.

Regarding the specification:
- Local Catalogue (development = true):
**hyperty-catalogue://hybroker.rethink.ptinovacao.p

[2016-05-19 12:14] Endebert commented on #40
Since dev-hyperty-toolkit is supposed to be used, I guess this can be closed

[2016-05-19 12:14] #40 closed

[2016-05-19 21:37] AnaSLCaldeira opened #47 "GUI integration in the examples"
Could someone help us integrate the Policies and Identity GUI in the examples? In the policies-GUI branch, the HTML code is at dev-runtime-browser/example/.well-known/runtime/index.html, and the JavaScript is at dev-runtime-browser/src/admin/IdentitiesGUI.js and dev-runtime-browser/src/admin/PoliciesGUI.js.

Thank you, in advance!

[2016-05-20 08:39] dvilchez commented on #46
@vitormsilva I think it is a little more complex...
here are the specifications

https://github.com/reTHINK-project/dev-runtime-browser/blob/master/test/RuntimeUAStub.spec.js

Please get an agreement with @pchainho and tell me what I have to change

[2016-05-20 10:11] vitormsilva commented on #46
I think haven't nothing to agree with @pchainho, because the problem is, as you see before, I'm passing the domain like `hybroker.rethink.ptinovacao.pt` and the request to get the iframe (index.html) add the `catalogue` like this `https://catalogue.hybroker.rethink.ptinovacao.pt/.well-known/runtime/index.html` and this URL doesn't exists

[2016-05-20 10:27] dvilchez commented on #46
Ok @vitormsilva, I remember now,

as you can see the line is commented because it didn't work at that moment.

https://github.com/reTHINK-project/dev-runtime-browser/blob/master/src/RuntimeUAStub.js#L74

Anyway, it is not supposed you are going to pass to the method both parameters. If you do it, runtimeURL will keep its value.

[2016-05-25 11:31] pchainho commented on #46
what is the status of this issue?

We have to close this asap to have the browser runtime integrated in the toolkit and have a new release

[2016-05-27 11:36] dvilchez commented on #46
@pchainho I couldn't reproduce the error but I was debugging this with @vitormsilva and I know nothing more since then

[2016-05-27 12:06] pchainho commented on #46
Does it mean you are able to use the Catalogue from Fokus in production mode ie development = false?

[2016-05-27 13:07] dvilchez commented on #46
@pchainho I never try it but I can resolve runtimeCatalogue or runtimeCatalog-local based on the configuration

[2016-05-27 16:46] pchainho commented on #46
In our tests the browser runtime in production mode is using an incorrect URL to download rethink.js.

But @dvilchez says it is using the correct URL ie  `https://hybroker.rethink.ptinovacao.pt/.well-known/runtime/rethink.js`

Further debug is needed to understand what is wrong ...

[2016-05-30 16:35] vitormsilva commented on #46
Hi @dvilchez,

I'm trying to debug what is the problem, and I did some console.logs to your code, and I found this.

![screenshot from 2016-05-30 17-26-57](https://cloud.githubusercontent.com/assets/10596749/15654465/6a9420c8-268c-11e6-879f-4d32eccd1b0f.png)

The parameters are false, but in the `core.js` file is converted to  true;

[2016-05-31 06:34] #46 closed

[2016-06-02 14:51] ishantiw opened #48 "ECPair error and TypeError: Cannot read property 'curve' of undefined"
We created an example under `example` folder in https://github.com/reTHINK-project/dev-runtime-browser/blob/develop-GraphConnector-Test/example/guid.js. `generateGUID`[#L63 ](https://github.com/reTHINK-project/dev-runtime-browser/blob/develop-GraphConnector-Test/example/guid.js#L63)and `useGUID`[#L71](https://github.com/reTHINK-project/dev-runtime-browser/blob/develop-GraphConnector-Test/example/g

[2016-06-03 12:14] KCorre opened #49 "IdP Proxy can't access IdP's domain cookies"
The devlopment of the IdP Proxy/IdModule is subject to the following requirements:
- WebRTC IdP Proxy should be compatible with reThink (so that we follow this standard)

In WebRTC, IdP Proxy sandbox restrictions include that proxies can't open popup to ask user for credentials. This process is done with an error procedure returned to the calling service. When requestion the Id Assertion from the

[2016-06-06 16:31] fbeierle commented on #48
I'm getting the same error when trying to remove the uglify step. @dvilchez Do other gulp steps depend on it?

[2016-06-07 07:38] dvilchez commented on #48
@fbeierle this error is thrown after remove  uglify step because in an example file there was a wrong dependency. Anyway, since these files don't exist anymore it is not a problem. As I told @ishan210788 I am not sure at 100 % the problem is uglify step but in case it is, your code is bundled with runtime-core not with runtime-browser.

[2016-06-07 15:30] fbeierle commented on #48
Using an non-uglified version of runtime-core solves the issue, see https://github.com/reTHINK-project/dev-runtime-core/issues/91

[2016-06-08 12:15] fbeierle opened #50 "How to locally run/test code interacting with the msg node?"
Locally running code requires a msg node running on msg-node.localhost. Chrome does not use the host file for subdomains of localhost since version >42 and hence cannot find the msg node.

Previously, I was using an old Chrome version (42) but now I'm getting errors there.

What would be a way to run code locally?

[2016-06-08 14:51] ishantiw opened #51 "queryGlobalRegistry() throwing "TypeError: g is undefined" even after removing uglify step"
I'm getting error while running [`queryGlobalRegistry(guid)`](https://github.com/reTHINK-project/dev-runtime-browser/blob/develop-GraphConnector-Test/example/guid.js#L87). As suggested in issue #48, I removed uglify step but still it's not working and throwing the following error.

![image](https://cloud.githubusercontent.com/assets/9600691/15898425/929a0b10-2d98-11e6-9390-6fc9094cac28.png)

Looks

[2016-06-09 08:16] fbeierle commented on #50
After a suggestion by @dvilchez I configured the following:

hosts file:
127.0.0.1		felix.dev
192.168.99.100	msg-node.felix.dev
127.0.0.1		catalogue.felix.dev

dev-msg-node-vertx:
configured "node.config.json" to use felix.dev

configures the msg node URL in:
dev-runtime-browser\example\resources\descriptors\ProtoStubs.json

Running https://github.com/reTHINK-project/dev-runtime-browser/tree/devel

[2016-06-09 10:33] ishan210788 commented on #51
I'm using Mozilla Firefox and now I'm getting a bit different error(but still its 'g is undefined" error) and this time I commented other functions like below in order to get proper logs. @dvilchez Can you please try to test like this to get the exact error from this function.
![image](https://cloud.githubusercontent.com/assets/9600691/15926787/13a6e624-2e3e-11e6-81b4-b3a9a5b01e26.png)

 I got thi

[2016-06-09 10:46] dvilchez commented on #51
@ishan210788 : I can't reproduce your error with the code pushed right now

I got this:
![screen-shot-2016-06-09-12-45-24](https://cloud.githubusercontent.com/assets/153025/15927160/1ede31bc-2e40-11e6-8608-e60c4b7ddd5a.png)
![screen-shot-2016-06-09-12-45-00](https://cloud.githubusercontent.com/assets/153025/15927161/1ee16c74-2e40-11e6-8040-0773022ef4b6.png)

[2016-06-09 11:33] fbeierle commented on #50
Just to keep track:
URL also needs to be configured here:
https://github.com/reTHINK-project/dev-runtime-browser/blob/develop-GraphConnector-Test/example/address_book.html#L33
and here:
https://github.com/reTHINK-project/dev-runtime-browser/blob/develop-GraphConnector-Test/example/guid.js#L20

[2016-06-09 14:48] ishan210788 commented on #50
I'm getting authentication error when I'm running [queryGlobalRegistry](https://github.com/reTHINK-project/dev-runtime-browser/blob/develop-GraphConnector-Test/example/address_book.html#L269).

I followed the above steps and did changes but I'm getting the error below:

![image](https://cloud.githubusercontent.com/assets/9600691/15933827/8512aafa-2e61-11e6-9389-3ff187916b6b.png)

[2016-06-13 13:28] ishantiw commented on #50
The above issue regarding the redirection is working fine now but still I'm not able to reach message vetrx when running [queryGlobalRegistry](https://github.com/reTHINK-project/dev-runtime-browser/blob/develop-GraphConnector-Test/example/address_book.html#L269). Though I'm able to reach message vetrx using https://msg-node.felix.dev:9090 and it's printing **"Hello"**.
I'm using Windows 10, Chrome

[2016-06-14 15:14] ishantiw commented on #51
Hello @dvilchez Now I'm getting the same error as you are getting on my chrome browser and on msg_vrtx.
![image](https://cloud.githubusercontent.com/assets/9600691/16048055/e3253c8a-3252-11e6-8d79-d90d1fab7ad7.png)
I think the "TypeError" is coming because there is no record for the given GUID. But can you please tell why we are getting "Failed to execute atob on window" error.

[2016-06-15 09:30] dvilchez commented on #51
@ishantiw please refers to this issue https://github.com/reTHINK-project/dev-hyperty/issues/32

[2016-06-15 11:06] ishantiw commented on #51
@dvilchez I don't have access to this repository

[2016-06-15 16:40] dvilchez commented on #49
well, it depends on wich sandbox you are referencing. Web worker allows neither access to cookies nor localStorage, but iframe does. The problem with the actual implementation is the same origin policy. The IDP Proxy origin is different from the IDP.

[2016-06-17 09:52] Sparika commented on #49
The IDP Proxy origin is not supposed to be different from the IDP's one as it is retrieved from the same domain. If the Proxy was downloaded from the right place (instead of being hardcoded) and instantiated in an invisible iframe, problem would be solved, right?

[2016-06-17 10:40] dvilchez commented on #49
Yes, that is.

[2016-06-29 09:34] dvilchez opened #53 "Uncaught DataCloneError"
to send messages over postmessage interface is not allowed and causes a new error

[2016-07-05 10:29] dvilchez commented on #53
I think this should be move into runtime-core https://rethink-project.slack.com/archives/dev-app/p1467196331000027 @vitormsilva

[2016-07-19 10:45] pchainho opened #54 "Browser Runtime close()"
The Browser Runtime should only be closed when the runtimeUA.close() promise is resolved ie after unregister all Hyperty instances.

See https://github.com/reTHINK-project/dev-runtime-core/issues/89

[2016-07-21 10:17] pchainho commented on #53
related with https://github.com/reTHINK-project/dev-runtime-core/issues/97

[2016-07-22 11:07] dvilchez commented on #54
@pchainho I did the changes but I can't test them because this https://github.com/reTHINK-project/dev-runtime-core/issues/102, btw I found another problem https://github.com/reTHINK-project/dev-service-framework/issues/52

[2016-07-26 06:48] dvilchez commented on #54
@pchaino what do you mean with close runtime browser? I only have exposed the close method on runtime to app developer, is required something more?

[2016-07-26 10:51] pchainho commented on #54
The [close() function](https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/runtime/RuntimeUA.js#L677) is to be called by the runtime browser when you detect browser window / tab close events. Having a function exposed to App developers is also nice

[2016-07-27 09:52] dvilchez commented on #54
@pchainho I afraid we can't postpone browser window/tab close until runtimeUA.close returns. There are some technics but all of them are poor options. In addition we can face another problem here:

I don't know about websocket.

How would you like to proceed?

[2016-08-01 11:21] pchainho commented on #54
let's invoke close() even if we don't guarantee the window/tab close is blocked until the promise is resolved. At least we've tried to unregister components. If not successful, the Domain Registry is currently able to ["clean dead" registry entries](https://github.com/reTHINK-project/dev-registry-domain/issues/7)

[2016-08-01 15:55] AnaSLCaldeira commented on #37
I developed a version that interacts with a fake Policy Engine. Now I need to integrate it on the reTHINK application, but I don't know where to place the files or how to load them to the application.

[2016-08-01 16:02] gamdias commented on #39
I'm having trouble to understand how to load an Identity GUI component that can use the message bus, with the reTHINK application from the dev-hyperty-toolkit.

Does anyone have any ideas?

Ideally, if someone could provide an "hello world" example of loaded GUI into the reTHINK application, with the message Bus I would appreciate it.
thanks! :)

[2016-08-01 16:04] pchainho commented on #37
why fake policy engine? As discussed [here](https://github.com/reTHINK-project/core-framework/issues/160) the Admin Pages should be inside the iFrame and they could directly invole the Policy Engine API. Then these pages would be unhidden/hidden according to messages sent to RuntimeUAStub outside the iFrame.

[2016-08-01 16:14] AnaSLCaldeira commented on #37
I understand that this admin pages must be inside the iframe, I said fake as in simplified version to ease the development, as it does not interact with the remaining reTHINK submodules and runs locally. Where are these files to be placed? In the runtime-browser repository under src/admin? How do I expose them to the user in the reTHINK application?

[2016-08-01 16:22] pchainho commented on #37
I now see issue #47 where probably we should move the discussion to this since this is also common to other componentes having GUI admin pages like the Id Module

[2016-08-01 16:31] pchainho commented on #47
The proposal is to use these [message specs](https://github.com/reTHINK-project/dev-service-framework/blob/master/docs/specs/messages/identity-management-messages.md#hide--unhide-identity-module-admin-page) to ask rethink.js to unhide / hide the admin page. This would imply the rethink.js to have registered a listener at the msg bus at "hyperty-runtime://<runtime-domain>/<runtime-instance-identifi

[2016-08-01 16:31] pchainho commented on #39
see #47 pls

[2016-08-02 09:57] dvilchez commented on #54
done in c024ae2bd2d00e557780fe47fe8c58692f82424c

[2016-08-02 09:57] #54 closed

[2016-08-02 10:18] dvilchez commented on #47
@pchainho I am not sure the problem for @AnaSLCaldeira and @gamdias is how hide or unhide the iframe. I can do it but, in the current design, we only have a iframe where runtime-core is hosted, Are these GUIs inside this iframe?

[2016-08-02 10:34] pchainho commented on #47
As discussed [here](https://github.com/reTHINK-project/core-framework/issues/160) the admin pages should be inside the iframe

[2016-08-02 11:53] dvilchez commented on #47
@pchainho done in e691773c416fd528fe72f71396fac1334975820f

[2016-08-02 12:21] pchainho commented on #47
@AnaSLCaldeira @gamdias can you have try? do you need any further support / help?

[2016-08-02 17:29] AnaSLCaldeira commented on #47
How can I test my changes on core.js? When I do 'gulp bundle' and then copy the dev-runtime-browser/bin/core.js file to dev-hyperty-toolkit/node-modules/runtime-browser/bin, it shows this error:

Uncaught (in promise) TypeError: Illegal invocation(…)    RuntimeCatalogue.js:31

Am I doing something wrong?

[2016-08-04 14:18] fbeierle commented on #47
I got an email about a post by @AnaSLCaldeira about getting an error when using runtime-browser:

<pre>Uncaught (in promise) TypeError: Illegal invocation(…) RuntimeCatalogue.js:31</pre>

As I am facing the same issue: @AnaSLCaldeira How did you solve this issue?

@gniewus @ishantiw

[2016-08-04 15:30] AnaSLCaldeira commented on #47
@fbeierle I had that error and couldn't figure out its source, so I just restarted everything and the error disappeared. I didn't exactly solve it, that's why I deleted my comment. I'm sorry for not being able to provide a solution, maybe someone else had that error and figures it out?

[2016-08-08 12:04] fbeierle commented on #47
Using the master branch of dev-service-framework (see https://github.com/reTHINK-project/dev-runtime-browser/blob/develop-GraphConnector-Test/package.json#L65), it works. So it seems that the changes made in the develop branch of service-framework are causing this error.

@reTHINK-project/wp3

[2016-08-15 16:41] AnaSLCaldeira commented on #47
@pchainho @dvilchez thank you for your support, I have committed the implementation in the develop-gui branch.

[2016-08-15 16:41] #47 closed

[2016-08-15 16:56] AnaSLCaldeira commented on #37
This was implemented and committed in the develop-gui branch. @vitormsilva @dvilchez @pchainho Please let me know if you find any trouble using it or if you have any suggestions for improvements.

[2016-08-15 16:56] #37 closed

[2016-08-29 13:48] fbeierle opened #55 "domain://registry.registry/ is tried to be reached when contacting the Global Registry"
When trying to contact the Global Registry ("global://registry/"), there is a message object created trying to reach "domain://registry.registry/". I guess, the naming scheme makes sense when calling CSPs but not for the Global Registry. Of course "domain://registry.registry/" cannot be reached and the ProtoStubs.json cannot be loaded. See screenshot below.

This used to work, so I think, some rec

[2016-08-29 16:00] pchainho commented on #55
From the Logs it seems something introduced by Policy Engine, @AnaSLCaldeira can you have a look ?

[2016-08-29 17:00] pchainho opened #56 "Avoid Login popup block"

[2016-08-29 19:01] AnaSLCaldeira commented on #55
@fbeierle How can I replicate this error?

[2016-08-30 08:20] fbeierle commented on #55
Our process is:
- setup hosts

[code]

- run docker image of dev-msg-node-vertx
- run ```npm start``` on develop-GraphConnector-Test of dev-runtime-browser
- accept certificate from https://catalogue.felix.dev/
- open https://felix.dev/guid.html, accept certificate
- click on ```queryGlobalRegistry```

[2016-08-30 16:42] pchainho commented on #38
see more details at #47 and https://github.com/reTHINK-project/core-framework/issues/160

[2016-09-02 14:57] fbeierle commented on #55
Adding some logging in the MsgBus, we get the following messages, see image below. Looking at the msg flow image here: https://github.com/reTHINK-project/dev-addressbook-app/wiki, it seems to fail at step 10. The MsgBus in the runtime receives the correct response from the MsgNode, but it doesn't reach the GraphConnector, which receives "Response Timeout".

![2016-09-02](https://cloud.githubuserco

[2016-09-02 16:30] pchainho commented on #55
I see that response message from Global Registry is not compliant with the [specs](https://github.com/reTHINK-project/dev-service-framework/tree/master/docs/datamodel/core/message#responsemessagebody).

[2016-09-05 10:41] fbeierle commented on #55
@pchainho : I don't think that can be related to this issue, as the message successfully reaches the message bus and has the right format coming from the Global Registry Connector of the MsgNode (id/type/from/to/body).

@AnaSLCaldeira : Did you look into this issue? Does the Policy Engine maybe call this method: https://github.com/reTHINK-project/dev-runtime-core/blob/develop/src/registry/Registry

[2016-09-05 10:51] pchainho commented on #55
But the body is not compliant ("code" is missing), and some core components like the Policy Engine could require it

[2016-09-05 13:36] AnaSLCaldeira commented on #55
@fbeierle : I was trying to identify the source of the problem, but when I generate a new Runtime descriptor from the master branch of dev-runtime-core and restart your page I get this error:

core.js:294 Uncaught TypeError: Cannot read property 'queryGlobalRegistry' of undefined

How can I update the Runtime descriptor?

[2016-09-05 13:56] fbeierle commented on #55
@pchainho : We will change the message body format to be compliant with the specs you linked. @sgoendoer

@AnaSLCaldeira : The master branch currently does not contain the graph connector in the runtime. Please use the branch https://github.com/reTHINK-project/dev-runtime-core/tree/develop-graphConnector.

[2016-09-13 12:41] fbeierle commented on #55
We changed the message body format to be compliant with the linked specs. @AnaSLCaldeira did changes to the Policy Engine for messages regarding the Global Registry.

There still is a problem:
![2016-09-13](https://cloud.githubusercontent.com/assets/10813769/18473806/31163fbc-79bf-11e6-9148-eb0bdf2ea342.png)

We receive the correct response from the Global Registry. However, there seems to appear

[2016-09-14 15:31] pchainho commented on #56
Ir order to avoid the login popup block, the login popup should be triggered by the user and not by the javascript:
http://stackoverflow.com/questions/2587677/avoid-browser-popup-blockers

Thus, the following solution is proposed:

* to have the login link for each IDP available in the IDM admin GUI #39 , which is provided inside the Core Runtime Sandbox
* Everytime there is no valid Id Token to b

[2016-09-16 13:37] fbeierle commented on #55
In today's WP4 call, @ingofriese said that @sdruesedow had to introduce some delay in order to be able to establish some connection. I doubt a delay would be the answer here, as the message indicates "Response timeout!". If no one has an answer to this error, we will try to find some workaround.

[2016-09-16 21:38] pchainho commented on #55
If this is the same issue as the one you mention we should close this one. I understand you are now able to reach the Global Registry.

The timeout we are experiencing with @sdruesedow is in a cross domain interoperability scenario. In this case it seems that messages sent before the deploy of the "foreign" domain protostub is complete, are being lost. We are studying a fix for this but I don't th

[2016-09-19 09:17] fbeierle commented on #55
I'll close this issue and post the log to the linked issue (https://github.com/reTHINK-project/dev-runtime-core/issues/82).

[2016-09-27 09:10] vitormsilva commented on #53
Hi,
Could someone tell me how I can reproduce this error?
Thank you.

[2016-10-04 07:58] pchainho commented on #56
What is the status of this one? We should give priority to this one

[2016-10-07 14:55] #55 closed

[2016-10-17 15:30] pchainho commented on #39
Done

[2016-10-17 15:30] #39 closed

[2016-10-17 15:31] pchainho commented on #56
done

[2016-10-17 15:31] #56 closed

[2016-10-17 15:33] pchainho opened #58 "Browser Persistence Manager is breaking with large amount of data"
originaly reported at https://github.com/reTHINK-project/dev-runtime-core/issues/119

consider using something else like indexeddb instead of Local storage.

This is killer and should be given priority

[2016-10-18 13:42] antonroman commented on #58
Ok,

then we are reaching 5MB of data stored for persistance, right?

IndexDB should support more storage, this is going to be the first option to try:

It is still not clear to us if there is any limit for storage in IndexDB, we are investigating it to make sure.

We are considering another option if we find any issue with indexDB : [https://developer.mozilla.org/en-US/docs/Web/API/CacheStorage](

[2016-10-19 10:20] dvilchez commented on #58
Unlike LocalStorage IndexedDB exposes an async API this may address to a change on every component using PersistenceManager, is this feasible? @pchainho @vitormsilva

[2016-10-19 11:23] pchainho commented on #58
I would prefer not to change the Persistence Manager API.

[2016-10-20 07:57] dvilchez commented on #58
Hi @pchainho,

although to expose an async api as a  sync one is possible I have to discourage you from doing it. IndexedDB might be slow to answer and the javascript thread could be blocked for a while.

[2016-10-20 08:03] pchainho commented on #58
Then let's move the discussion https://github.com/reTHINK-project/dev-runtime-core/issues/119

[2016-10-26 12:53] Endebert opened #61 "StorageManager throws error if no entry exists for given key"
In my test, when I request a version of something, e.g. `storageManager.getVersion("someKey").then((result) => {...})`, if there is no entry for `"someKey"`, an error is thrown.

As is common with other databases and the API that was used before storageManager (i.e. persistenceManager), the storageManager should return `undefined` in such a case.

[2016-10-26 14:23] ishantiw opened #62 "runtime/Runtime/version not found"
We are able to successfully reach Global Registry but on the browser we see protostub error, Please look at the screenshot. I am using [develop-GraphConnector-Test](https://github.com/reTHINK-project/dev-runtime-browser/tree/develop-GraphConnector-Test) branch. Code at [queryGlobalRegistry](https://github.com/reTHINK-project/dev-runtime-browser/blob/develop-GraphConnector-Test/example/guid.js#L318

[2016-10-26 16:10] dvilchez commented on #61
fixed on 9b27af4491f872de44c7f91f15c1bd6514041a57

[2016-10-26 16:10] #61 closed

[2016-10-27 14:26] pchainho opened #63 "Browser Runtime Phase 2 implementations"
- [ ] Window Sandbox implementation probably based on iFrames in order to let P2P Stubs have access to WebRTC APIs
- [ ] [Runtime Instance Sharing among different windows / tabs](https://github.com/reTHINK-project/specs/issues/15)

[2016-11-01 15:52] ishantiw commented on #62
As suggested by @pchainho , I merged `develop-GraphConnector` branch of dev-runtime-core with the `develop` branch. I also updated `develop-GraphConnector-Test` of dev-runtime-browser with the master branch. But now I'm trying to run the [addressbook-app](https://github.com/reTHINK-project/dev-addressbook-app/tree/develop) I'm getting below error.
![image](https://cloud.githubusercontent.com/asset

[2016-11-04 07:24] #58 closed

[2016-11-07 00:36] fbeierle commented on #62
This issue is blocking our development. It seems like it might have been introduced by changes at the https://github.com/reTHINK-project/dev-service-framework/
To me, it looks like it's just some configuration error. Could please someone look into it and help us here?

@pchainho @dvilchez @sgoendoer @ishantiw @SenanSharhan @reTHINK-project/wp3 @reTHINK-project/wp4

[2016-11-07 18:27] pchainho commented on #62
Are you using the Toolkit to test the Graph Connector and the Admin GUI from the Runtime Browser?

Pls ensure that you are using the last versions of the Toolkit develop branch which uses the Runtime Browser.

It is also not clear to me if you are really having an Admin GUI for the Graph Connector running inside the rethink iFrame as discussed [here](https://github.com/reTHINK-project/dev-runtime-

[2016-11-08 02:02] #51 closed

[2016-11-08 02:02] #50 closed

[2016-11-08 02:03] #48 closed

[2016-11-08 03:51] fbeierle opened #64 "Change from Addressbook App to Admin GUI feasible?"
So far, no one seems to be able to solve the mystery of the not found runtime (https://github.com/reTHINK-project/dev-runtime-browser/issues/62). @pchainho suggested to change the implementation from how it is done now (see https://github.com/reTHINK-project/dev-addressbook-app/wiki for a description of the interaction of the runtime and the app) to an Admin GUI like it is done for policies and th

[2016-11-08 14:58] gamdias commented on #64
Hello Felix :)

yes, in this file you have the html code for the buttons, dropdown, etc. https://github.com/reTHINK-project/dev-runtime-browser/blob/master/bin/index.html

yes, all the components can be accessed by the GUI component. Currently the components methods can be invoked directly as seen here: https://github.com/reTHINK-project/dev-runtime-browser/blob/master/src/core.js#L70
But in the f

[2016-11-08 21:12] pchainho opened #65 "Runtime Capabilities Manager implementation"
check https://github.com/reTHINK-project/dev-service-framework/issues/71

[2016-11-14 18:19] pchainho opened #66 "Runtime Instance shared by more than one App eg in different Tabs"
As agreed [here](https://github.com/reTHINK-project/specs/issues/15)

- [ ] windowSandbox implementation based on iFrame

- [ ] Runtime deployment  in the Shared Worker and update interface communication between RuntimeUAStub and Shared Worker interface

- [ ] Update RuntimeUAStub to create, on runtimeUA request, iFrames or Web Workers, outside the runtime core and then deploy there components.

[2016-11-14 18:40] pchainho opened #67 "Policy and IDM Admin GUIs: update to use msg bus"
As agreed [here](https://github.com/reTHINK-project/specs/issues/15)

[2016-11-14 19:38] pchainho commented on #64
I guess it is clear now that it is feasible. reopen if needed pls

[2016-11-14 19:38] #64 closed

[2016-11-29 11:43] pchainho opened #68 "Login popup does not not open with Firefox"
![image](https://cloud.githubusercontent.com/assets/3893553/20708674/040e11a6-b629-11e6-9820-fd898027d0d6.png)

[2016-12-09 14:47] dvilchez commented on #68
The error was related to don't pass the event as an argument after solved it, it is still failing

this call to identity module https://github.com/reTHINK-project/dev-runtime-browser/blob/master/src/admin/IdentitiesGUI.js#L215

    _this.identityModule.crypto.generateRSAKeyPair()

throws

    SyntaxError: "An invalid or illegal string was specified"

[2016-12-12 10:29] dvilchez commented on #66
I made a proposal implementation on the window_sandbox branch, I think two new requirements are needed in the core:

1. A mechanism to pass the channel in the sandboxes creation.
2. An app sandbox per application

We can discuss this if you need more info

/cc @pchainho @vitormsilva

[2016-12-12 11:25] pchainho commented on #68
@tiagolb can you have a look here, pls?

[2016-12-12 11:31] dvilchez commented on #66
Communication between admin guis and runtime must use the postmessage interface since a direct communication is not possible anymore.

/cc @pchainho @AnaSLCaldeira

[2016-12-12 11:31] pchainho commented on #66
what do you mean by channel?

This one is aligned with https://github.com/reTHINK-project/dev-runtime-core/issues/136

[2016-12-12 11:32] pchainho commented on #66
[yes](https://github.com/reTHINK-project/dev-runtime-browser/issues/67)

[2016-12-12 11:36] dvilchez commented on #66
The channel is the mean  through which messages between sandbox and its context are sended.

[2016-12-12 12:37] pchainho commented on #66
![screen-shot-2016-12-12-13-14-48](https://cloud.githubusercontent.com/assets/3893553/21099720/b3b3da9e-c067-11e6-98c8-4bc5075c1967.png)

From the discussion in Slack we have concluded a Context is a Sandbox that is not the Core Sandbox eg App Sandbox, Web Workers and Window Sandbox.

Since:

* for each sandbox instance you have a pair of internal and external minibus instances that make the bridg

[2016-12-12 14:51] pchainho commented on #66
pending on https://github.com/reTHINK-project/dev-runtime-core/issues/136 and https://github.com/reTHINK-project/dev-runtime-browser/issues/67.

[2016-12-12 15:00] dvilchez commented on #66
No, in this design, **a sandbox** object is the **real sandbox facade**:

- a real sandbox is  an iframe, web worker or shared worker
- a sandbox is only an object that extends minibus and translates messages to and from the bus
- a context is the code loaded into a real sandbox

To be more clear, from the point of view of a hyperty sending a message:

The external minibus instance receives the me

[2016-12-13 09:11] #65 closed

[2017-01-13 10:06] sdruesedow commented on #68
I created a pull request that fixes this issue for me. Please have a look and check: https://github.com/reTHINK-project/dev-runtime-browser/pull/69

[2017-01-13 10:37] #68 closed

[2017-01-20 11:11] tiagolb commented on #67
The goal is to remove any direct reference to the IDM/Policy by their respective Admin GUIs, right?

![direct1](https://cloud.githubusercontent.com/assets/8178030/22147576/14676524-df01-11e6-86e8-dad75f195c71.png)

Change, for instance, the calls made above to a call by message system.

[2017-01-20 11:27] pchainho commented on #67
exactly

[2017-01-26 16:56] tiagolb commented on #67
Regarding this issue. I'm in the process of replacing all calls to the IDM in the IdentitiesGUI using the referred model. Once I'm done with the IdentitiesGUI, I'll do the same for the Policy.

Once this modification is made I'm to update the messages used for the IDM [https://github.com/reTHINK-project/specs/blob/master/messages/identity-management-messages.md](here) right? But what about the pol

[2017-01-26 17:08] pchainho commented on #67
yes pls but for the policy management I don't think we have any messages specs yet. You can follow the others spec as a reference

[2017-01-30 12:16] pchainho opened #70 "Update with Runtime Dev-Interworking"
At least the following has to be done:

- [x] requireHyperty(): add new optional parameter `reuseAddress` -> check runtimeUA.loadHyperty(..) new attribute that is used to set if Hyperty addresses are to be reused .
- [x] create sandboxes according to runtime capabilities. -> have a look [here](https://github.com/reTHINK-project/dev-hyperty-toolkit/tree/dev-p2p/resources/factories)
- [x] windowSand

[2017-01-30 14:15] dvilchez commented on #70
sorry @pchainho, could you provide more info about this issue?

[2017-02-01 16:56] vitormsilva commented on #66
To try resolve the problem, we have, with how to create a new app sandbox.

We propose the following:

1. runtime-browser create a rethink iframe on domain `rethink.com`
2. the rethink iframe, should create a shared worker
with the runtimeUA (beacuse the shared worker only can send messages to the same domain);
3. the shared worker, on the event "onconnect" (when a new app has connected)
should in

[2017-02-02 12:44] dvilchez commented on #66
What is this new appsandbox address for? As far as I know the sandboxes don't receive any mesasages from the runtime, the hyperties and protostubs do.

I can use the port received on the event to bind the port to the app sandbox, but as I told you this is not the only sandbox outside the shared worker, the runtime could create too windows sandboxes.

[2017-02-06 12:05] tiagolb commented on #67
I have replaced and tested all identity-gui calls to the IDM using the corresponding message types. I'm starting to test the equivalent changes made to the policy-gui.

[2017-02-06 13:56] pchainho opened #71 "Update documentation"
Update documentation in your source code and generate associated documentation (check how it is done with `npm run build:doc` in dev-runtime-core or dev-service-framework repos.

[2017-02-06 14:20] pchainho commented on #70
I've provided more info.

[2017-02-06 14:46] dvilchez commented on #70
runtime-browser doesn't create the sanboxes

what does it mean?

[2017-02-06 16:45] vitormsilva commented on #66
The app sandbox address is for distinguishing each new app which could exist.

For each new sandbox, the responsibility is from **runtime-browser**, based on the capabilities previously obtained.

When the requireHyperty or requireStub is called, the installation process, in the *runtime-core*, will call the method `createSandbox(capabilities)` and the decision, if we shall create a **window sandb

[2017-02-07 11:19] dvilchez commented on #70
From slack:

pchainho [4:13 PM]
@dvilchez regarding your comment in the issue

[4:14]

[4:14]
sandbox implementations are specific to the runtime types (edited)

[4:15]
the decision about which sandbox implementation to be used should not be from the runtime core

dvilchez [4:17 PM]
?

[4:18]
until now we had appsandbox and worker sandbox

[4:18]
and the runtime created them

[4:20]
do you want to

[2017-02-07 11:24] dvilchez commented on #66
how? could you provide a example message addressed to a hyperty inside an app sandbox?

This has nothing to do with this discussion.

Runtime is still throwing the sandbox creation, and as I said before, I need a way to talk with the outside world.

again, this has nothing to do with this discussion.

[2017-02-14 13:39] #62 closed

[2017-02-14 14:22] fbeierle commented on #38
Please see here for update: https://github.com/reTHINK-project/dev-runtime-core/issues/33#issuecomment-279719217

[2017-02-16 13:08] tiagolb commented on #67
This issue is fixed. I have pushed my modifications to two repositories: `dev-runtime-browser:issue67` and `dev-runtime-core:issue67`.

However, there is an error when using the policy gui, particularly when defining a new rule for a policy. When a new rule is defined with the `Subscription preference` filter, this error appears:

![issue67](https://cloud.githubusercontent.com/assets/8178030/23022

[2017-02-22 08:45] #71 closed

[2017-02-24 07:56] #70 closed

[2017-03-13 14:58] pchainho commented on #66
@dvilchez can you comment here, pls, what was agreed in Vigo?

[2017-03-13 17:00] dvilchez commented on #66
ok

@vitormsilva and I agreed on the runtime-core needs support the creation of multiple application sandboxes. However an important part is still missing, the implementation. We have to research a little deeper how shared worker works, we tried to do it but we couldn't manage to load a hyperty from the shared worker due to the window open popup call in the identity module.

[2017-04-11 09:02] dvilchez commented on #67
As we realized yesterday this issue should be opened again. We must decouple AdminGUIs from admin components, that means admin GUIs must not have a dependency with runtime, messagebus or any component running inside the shared worker. I have pushed my changes merged with Tiago's changes in the window_sandbox branch. @tiagolb @pchainho

[2017-04-11 09:38] tiagolb commented on #67
Can you please give more information regarding what components I can use to send and receive messages? If I cannot use the messageBus, then what component can be used? Additionally, I believe there are sensitive messages sent between the GUI and Backend components, so the new messaging system must be secure.

[2017-04-11 10:29] dvilchez commented on #67
Maybe you can move the admin GUIs to the contextapp and use the contextapp minibus to do this communication.

Regarding MessageChannel: https://developer.mozilla.org/en-US/docs/Web/API/Channel_Messaging_API/Using_channel_messaging

[2017-04-11 18:05] dvilchez commented on #66
Update

- [ ] Add loadApp(sandbox, appURL) to runtime and remove the code to create the application sandbox

- [ ] Create a new administration sandbox

- [ ] Call new loadApp method with application sandbox and with administration sandbox

- [ ] Load the window sandbox in any application context

Anything missed? @pchainho @vitormsilva

[2017-04-12 07:57] pchainho commented on #66
seems ok

[2017-04-13 12:51] pchainho commented on #66
who is creating the window sandox? the App?

[2017-05-05 13:54] #38 closed

[2017-05-24 10:55] emmelmann-fokus opened #78 "Missing license information"
Dear all:

the project consortium agreed to provide all reTHINK developments under the Apache-2 license.  This repository is missing a corresponding license file.

A ```LICENSE.md``` file will be added by the end of the month (May 2017) to this repo.  Please respond if you have any related issues.

The file will have the following contents:
[code]

[2017-06-28 14:30] #78 closed

[2018-03-03 19:24] #16 closed

[2018-03-03 19:24] #28 closed

[2018-03-03 19:24] #32 closed

[2018-03-03 19:24] #33 closed

[2018-03-03 19:24] #49 closed

[2018-03-03 19:24] #53 closed

[2018-03-03 19:24] #67 closed

[2018-03-03 19:27] pchainho opened #97 "GUI Admin doesn't open when tokens expire"
When refresh tokens are not available and the token expires, the GUI Domain does not open to let the user authenticate / authorise again and thus generate a new token.

This bug blocks the runtime

[2018-03-27 10:31] pchainho commented on #63
Not Applicable anymore

[2018-03-27 10:31] #63 closed

[2018-03-27 10:41] pchainho opened #98 "Runtime close with logout option"
[here](https://github.com/reTHINK-project/dev-runtime-browser/blob/develop/src/RuntimeUAStub.js#L74) add `logout: true | false` as required by https://github.com/reTHINK-project/dev-runtime-core/issues/257

[2018-03-27 13:08] pchainho opened #99 "Login performed by App"
To provides to Apps the ability to login with a certain IDP without using the Runtime IdentitiesGUI

Add function `login(idp)` [here](https://github.com/reTHINK-project/dev-runtime-browser/blob/develop/src/RuntimeUAStub.js#L56) sending message to core:

[code]

Add listener to core.js [here](https://github.com/reTHINK-project/dev-runtime-browser/blob/master/src/core.js#L84) that invokes `Identitie

[2018-03-27 14:32] pchainho opened #100 "Hide Admin GUIs on App demand"
add `hideAdmin` parameter at `runtime install` [here](https://github.com/reTHINK-project/dev-runtime-browser/blob/develop/src/RuntimeUAStub.js#L113) and at [`iframe.create()`](https://github.com/reTHINK-project/dev-runtime-browser/blob/develop/src/iframe.js#L33).

[2018-03-28 08:16] #98 closed

[2018-04-03 13:21] #100 closed

[2018-04-03 13:21] #99 closed

[2018-05-10 13:52] #97 closed

[2018-10-25 08:38] pchainho opened #112 "Push Notifications to get a successful storage persist"
As discussed [here](https://github.com/reTHINK-project/dev-runtime-core/issues/276#issuecomment-432916633)

See tutorial: https://developers.google.com/web/ilt/pwa/lab-integrating-web-push

[2018-10-25 15:45] pchainho commented on #112
It works but permission request is not displayed when the origin is the App, only when the core domain is the origin.

Should we open a modal window with origin for core domain?